.info__wrapper {
}
.info {
  padding: 15rem 0;
  text-align: center;
}
.info .item:not(:last-child) {
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .info .img {
    height: 15rem;
    object-fit: contain;
  }
  .info .item:not(:last-child) {
    margin-bottom: 0;
  }
  .info .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  .info .item {
    width: 30%;
  }
}